<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      <p ng-if="!loggedIn">Log In as Existing User or Register New User:</p>
      <input ng-model="usernameInput">
      <input type="button" value="Log In or Register" ng-if="!loggedIn" ng-click="logIn()">
      <h3 ng-if="loggedIn">Welcome {{username}}</h3>
      Users:
      <ul class="users">
        <li ng-repeat="user in users"
            class="user-listing">
          <label>{{user.name}}</label>
	  <label>{{computePercentage(user.name)}}%</label>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      Search Workouts: <input ng-model="query">
      <ul class="workouts">
        <li ng-repeat="workout in workouts | filter:query"
    class="thumbnail workout-listing">
          <p ng-if="checkIfCompleted(workout._id)">COMPLETED!<p>
	  <label><input type="button" value="Finished Workout" ng-click="addWorkout(workout._id)" /></label>
          <p>{{workout.name}}</p>
          <p>{{workout.description}}</p>
	  <a href="{{workout.video}}">{{workout.video}}</a>
        </li>
      </ul>

    </div>
  </div>
</div>
