/* app css stylesheet */

body {
  padding-top: 20px;
}



.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}


h1 {
  border-bottom: 1px solid gray;
}

table, tr, td, th {
  border: solid 1px black;
}

.checkboxes {
  width: 13%;
  margin-right: 10px;
  float: left;
}

.featurestable {
  width: 85%;
  float: left;
}

tr {
  height: 20px;
}
